Repository newrelic/newrelic-opentelemetry-examples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @newrelic/oie, @TylerHelmuth, @alanwest, @nrcventura, @jack-berg, @svetlanabrennan

.github/CODEOWNERS:

* @newrelic/oie

collector/                  @TylerHelmuth
dotnet/minimal-api          @alanwest
dotnet/agent-nr-config/     @nrcventura
go/                         @TylerHelmuth
java/                       @jack-berg
javascript                  @svetlanabrennan
python/                     @TylerHelmuth

update opentelemetry
  .gitignore
  python/requirements.txt
Owners: @newrelic/oie, @TylerHelmuth

Add attribute value truncation example
  python/README.md
  python/app.py
  python/main.py
Owners: @TylerHelmuth

Added cumulative to delta processor (#125)
  collector/README.md
  collector/docker-compose.yaml
  collector/otel-config.yaml
Owners: @TylerHelmuth

Updated collector status
  README.md
Owners: @newrelic/oie

Added trace attribute limits exampleg
  go/app.go
  go/go.mod
  go/go.sum
  go/main.go
  go/metrics.go
  go/traces.go
Owners: @TylerHelmuth

changed largeValue to be calculated once
  python/app.py
  python/main.py
Owners: @TylerHelmuth

added example matrix (#126)
  README.md
Owners: @newrelic/oie
